/* fonts.css */
@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PressStart2P-Regular";
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}
