/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  .wrapper {
    min-height: 70vh;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    min-height: 60vh;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .wrapper {
    min-height: 50vh;
  }
}
